<div class="main_right">
<h2>DashBoard</h2>

<div class="center">
	<p>What would you like to do?</p>
	
	<ul>
		<li><%= link_to 'Manage Pages', pages_path%></li>
		<li><%= link_to 'Manage Services', services_path%></li>
		<li><%= link_to 'Manage Gallery', dashboard_path%></li>
		<li><%= link_to 'Manage Adverts', dashboard_path%></li>
		<li><%= link_to 'Manage Applications', dashboard_path%></li>
		<li><%= link_to 'Manage Emails', dashboard_path%></li>
		<li><%= link_to 'Manage Admins', dashboard_path%></li>
	</ul>
</div>

</div>
