<div class="main_left">
		<div class="spc">
			<!-- <img width="160" height="120" src="images/solid.png" /> -->
			<span>
				<h3>Serving SC and NC</h3>
			</span>
			<br/>
			<span>
				Since 1999
			</span>
			<br/>
			<br/>
		</div>
		<div class="menu_btn">
			<%= link_to 'Home', home_path, :class => @home %>
		</div>
		<div class="menu_btn">
			<%= link_to 'About Us', about_path, :class => @about %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Contact Us', contact_path, :class => @contact %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Owner Bio', owner_path, :class => @owner %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Staff Page', staff_path, :class => @staff %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Clinical Services', clinical_path, :class => @clinical %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Free Hair Care', hair_path, :class => @hair %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Advertise Here', advert_path, :class => @advert %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Complaint Form', complaint_path, :class => @complaint %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Photo Gallery', gallery_path, :class => @gallery %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Events', events_path, :class => @event %>
		</div>	
	</div>

	<div class="extreme_right">
		<div class="enroll">
			<a href="<%=student_applications_path%>" target="_self"" ">
			<span >Click Here</span><br />
			<img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://c.gigcount.com/wildfire/IMP/CXNID=2000002.0NXC/bT*xJmx*PTEzNjM*ODEzNzE3OTImcHQ9MTM2MzQ4MTM3NTA5NCZwPTQ1NTkzMiZkPSZnPTEmbz1mMDg1ZjA4ZjhiZDA*MjIwOTBh/NTVkMTkyNWI2YWU4YSZvZj*w.gif" />
			<object id="embededBannersnackFlash_b7xnwk9n" type="application/x-shockwave-flash" data="http://files.bannersnack.net/app/swf2/EmbedPlayerV2.swf?hash_id=b7xnwk9n&amp;bgcolor=#FFFFFF&amp;clickTag=null&amp;t=1363164366" width="145" height="120">
				<param name="allowScriptAccess" value="always" /><param name="movie" value="http://files.bannersnack.net/app/swf2/EmbedPlayerV2.swf?hash_id=b7xnwk9n&amp;bgcolor=#FFFFFF&amp;clickTag=&amp;t=1363164366" />
				<param name="allowFullScreen" value="true" /><param name="bgcolor" value="#FFFFFF" /></object>
				
			</a>
		</div>
		<div class="menu_btn">
			<%= link_to 'Application', forms_path, :class => @forms %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Financial Aid', financial_path, :class => @financial %>
		</div>
		<div class="menu_btn">
			<%= link_to 'FAQ', faq_path, :class => @faq %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Win-A-Way', win_path, :class => @win %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Student Testimony', testimony_path, :class => @testimony %>
		</div>
		<div class="menu_btn">
			<%= link_to 'General Information', info_path, :class => @info %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Job List', job_path, :class => @job %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Product Page', product_path, :class => @product %>
		</div>
		<div class="menu_btn">
			<%= link_to 'News Article', news_path, :class => @news %>
		</div>
		<div class="menu_btn">
			<%= link_to 'Friends & Partners', friends_path, :class => @friends %>
		</div>
	</div>
	